<h1> Welcome to YogaParty, <%=@current_yogi.first_name%>! </h1>

<body> At YogaParty, we want to simplify the yoga class-making process as much as possible, with a future goal the ability to self-generate yoga classes on demand. Right now, our free website allows you to: </body>

<ul>
    <li>
        <a href="/yoga_classes">
        Build a new yoga class from scratch
        </a>
    </li>

    <li>
        <a href="/my_yoga_classes">
        Pick one of your own yoga classes to run back
        </a>
    </li>

    <li>
        <a href="/yoga_classes">
        Pick one someone else's yoga classes to try out
        </a>
    </li>

    <li>
        <a href="/poses">
        Check out the pose list, and even add your own!
        </a>
    </li>

</ul>

<p> Thank you for sharing your practice with us. Namaste!  </p>

<img src="https://cdn.doyou.com/articles/1-is-this-yoga-1514184940575.jpg=w1080">




