<h1> Welcome to YogaParty, <%=@current_yogi.first_name%>! </h1>

<body> At YogaParty, we want to make yoga as accessible as possible to everyone. Our free website allows you to: </body>

<ul>
    <li>
        <a href="/user_sign_out">
        Build a new yoga class from scratch
        </a>
    </li>

    <li>
        <a href="/user_sign_out">
        Pick one of your own yoga classes to run back
        </a>
    </li>

    <li>
        <a href="/user_sign_out">
        Pick one of your friends' yoga classes to try out
        </a>
    </li>

    <li>
        <a href="/user_sign_out">
        Auto-generate your own yoga class based on your preferences
        </a>
    </li>

</ul>

<p> Thank you for sharing your practice with us. Namaste!  </p>

<img src="https://cdn.doyou.com/articles/1-is-this-yoga-1514184940575.jpg=w1080">




